go 1.23.4

use (
	./cmd/copypastabotv2
	./internal/commands/browse
	./internal/commands/chat
	./internal/commands/help
	./internal/commands/markov
	./internal/commands/pasta
	./internal/commands/speak
	./internal/commands/speakInterrupt
	./internal/util
	./pkg/markov
    ./tools/register
)
