go 1.23.4

use (
	./internal/commands/browse
	./internal/commands/chat
	./internal/commands/help
	./internal/commands/markov
	./internal/commands/pasta
	./internal/commands/router
	./internal/commands/speak
	./internal/commands/speakInterrupt
	./internal/commands/speakReceiver
	./internal/commands/sqsReceiver
	./internal/util
	./pkg/markov
	./tools/describe
	./tools/register
)
