go 1.21.1

use (
	./cmd/browse
	./cmd/browseReceiver
	./cmd/markov
	./cmd/pasta
	./cmd/ping
	./cmd/router
	./cmd/speak
	./cmd/speakReceiver
	./cmd/sqsReceiver
	./internal/util
	./pkg/markov
	./tools/register
)
